<h1>Videos</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="item in videos">
            <td>{{item.meta.image}}</td>
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>{{item.status}}</td>

            <td class="RightTxt ">
                <a title="Manage Videos" class="btn btn-info btn-xs" data-ng-click="addVideos(item)"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                <a title="Edit" class="btn btn-default btn-xs" data-ng-click="edititem(item)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a title="Delete" class="btn btn-danger btn-xs" data-ng-click="deleteitem(item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    </tbody>
</table>
